body {
  background-color: #081B14;
  font-family: terminus, monospace;
  font-size: 14px;
}

::selection{
  background-color: black;
  color: white;
}

.spaced{
  margin-top:10px;
  margin-bottom:10px;
}

.special{
  margin-top:5px;
  margin-bottom:5px;
}

.whiteText{
  color: #00DF72;
}

.blackText{
  color: #00DF72;
}


.hlpMessage{
  color: #00DF72;
  margin-top: 10px;
}


p{
  margin: 0px;
  padding-left: 15px;
  color: black;
}

.half{
  display: inline-block;
  padding-left: 15px;
  color: white;
  /*float:left;*/
  width: 50%;
}

a{
  color: #00DF72;
  text-shadow: 0 0 1px lightskyblue;
  text-decoration:none;
}

a:hover{
  /* background-color: lightgreen; */
  background-color: #081B14;
  color: #808080;
}

.greyText{
  color: #00FF72;
}

.inputText{
  color: #00DF72;
  background-color: #081B14;
  border: none;
  font-family: monospace;
  user-select: none;
  outline: none;
  overflow: visible;
  width: 50%;
}

img{
  width: 18%;
  height: 18%;
  position: fixed;
  display: block;
  margin: auto;
  right: 30px;
}
