body {
  background-color: #091D14;
  font-family: terminus, monospace;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  /* macOS/iOS Chrome, Safari, Firefox (grayscale anti-aliasing) */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Non-standard, but some browsers support a version of this */
  font-smooth: antialiased;
}

::selection{
  background-color: black;
  color: white;
}

.spaced{
  margin-top:1px;
  margin-bottom:1px;
}

.special{
  margin-top:5px;
  margin-bottom:5px;
}

.green-text{
  color: #69CB93;
}

p{
  margin: 0px;
  padding-left: 15px;
  color: black;
}

.half{
  display: inline-block;
  padding-left: 15px;
  color: white;
  /*float:left;*/
  width: 50%;
}

a{
  color: #00DF72;
  text-shadow: 0 0 1px lightskyblue;
  text-decoration:none;
}

a:hover{
  /* background-color: lightgreen; */
  background-color: #091D14;
  color: #808080;
}

.inputText{
  color: #69CB93;
  background-color: #091D14;
  border: none;
  font-family: monospace;
  user-select: none;
  outline: none;
  overflow: visible;
  width: 50%;
}

.logo_img{
  width: 8%;
  height: 8%;
  position: fixed;
  display: block;
  margin: auto;
  bottom: 50px;
  right: 30px;
}

.clone_vid{
  width: 533px;
  height: 110px;
  position: absolute;
  display: block;
  margin: auto;
}

.left_align{
  width: 100%;
  margin-left: 0px;
  height: 289px;
}
